{mode, max}.

{duration, 2}. % minute

{concurrent, 10}.

{driver, basho_bench_driver_msgpack}.

{code_paths, ["deps/stats",
              "/home/kuenishi/dev/msgpack_bench",
              "/home/kuenishi/dev/erl_msgpack"]}.

{key_generator, {int_to_bin, {uniform_int, 35000}}}.

{value_generator, {fixed_bin, 10000}}.

%{msgpack_server, "127.0.0.1"}.
{msgpack_server, "129.60.150.82"}.
{msgpack_port, 9199}.
